apiVersion: apps/v1
kind: Deployment
metadata:
  name: tetris-deployment
  labels:
    app: tetris
spec:
  replicas: 2
  selector:
    matchLabels:
      app: tetris
  template:
    metadata:
      labels:
        app: tetris
    spec:
      containers:
      - name: tetris
        image: tetrisacr.azurecr.io/tetris:latest  # pipeline replaces this dynamically
        imagePullPolicy: Always
        ports:
        - containerPort: 80
