name: ci

on:
  push:
    branches: main

jobs:
  docker_login:
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -    
        name: Verifying Login
        run: echo "Login Is sucessful"

      - 
        name: Listing Docker Images
        run: docker images
        

       
