name: ci

on:
  push:
    branches: main

run-name:

jobs:
  docker_login:
    runs-on: self-hosted
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ vars.DOCKERHUBUSERNAME }}
          password: ${{ secrets.DOCKERHUBPASSWORD }}
      -    
        name: Verifying Login
        run: echo "Login Is sucessful"

      - 
        name: Listing Docker Images
        run: docker images
        

       
