name: ci

on:
  push:
    branches: main

permissions:
  id-token: write
  contents: read

jobs:
  docker_login:
    runs-on: self-hosted
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUBUSERNAME }}
          password: ${{ secrets.DOCKERHUBPASSWORD }}
      -    
        name: Verifying Login
        run: echo "Login Is sucessful"

      - 
        name: Listing Docker Images
        run: sudo docker images
      -
       name: Pull the Docker image
       run: sudo docker pull venkateshkesa/tetris:latest 


       
