name: Tetris-Gane CICD

on:
  push:
    branches: main

jobs:
  docker_login:
    runs-on: self-hosted
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUBUSERNAME }}
          password: ${{ secrets.DOCKERHUBPASSWORD }}
      -    
        name: Verifying Login
        run: echo "Login Is sucessful"

      - 
        name: Listing Docker Images
        run: docker images
        
      - 
        name: check the images and pull if not present !!!!
        run: |
          IMAGE_NAME="venkateshkesa/tetris:latest"

          if docker images | grep -q "${IMAGE_NAME}"; then
            echo "Image ${IMAGE_NAME} is already present."
          else
            echo "Image ${IMAGE_NAME} is not present. Pulling the image..."
            docker pull ${IMAGE_NAME}
          fi
