name: Tetris-Gane CICD

on:
  push:
    branches: main

permissions:
  id-token: write
  contents: read

jobs:
  docker_login:
    runs-on: self-hosted
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUBUSERNAME }}
          password: ${{ secrets.DOCKERHUBPASSWORD }}
      -    
        name: Verifying Login
        run: echo "Login Is sucessful"

      - 
        name: Listing Docker Images
        run: |
           echo "Docker images list"
           docker images
        
      - 
        name: check the images and pull if not present !!!!
        run: |

          echo " Checcking for Docker images pull the image if it's not present"
          
          IMAGE_NAME="venkateshkesa/tetris:latest"

          if docker images | grep -q "${IMAGE_NAME}"; then
            echo "Image ${IMAGE_NAME} is already present."
          else
            echo "Image ${IMAGE_NAME} is not present. Pulling the image..."
            docker pull ${IMAGE_NAME}
          fi
          echo "displaying the docker images"
          docker images

  azure_login:
    runs-on: self-hosted
    needs: docker_login
    steps:
      -
        name: Login to Azure
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          

      - name: Verifying Login
        run: |
         echo "Login Is sucessful"
         az account show 

  azure_acr_login:
    runs-on: self-hosted
    needs: azure_login
    steps:
      -
         name: Login to Azure
         uses: azure/login@v1
         with:
             client-id: ${{ secrets.AZURE_CLIENT_ID }}
             tenant-id: ${{ secrets.AZURE_TENANT_ID }}
             subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      -     
        name: Acr Login
        run: |
          echo "logining to Azure Acr"
          az acr login --name tetrisacr
          echo " Login Sucessfully "

      - name: Tag Docker Image for ACR
        run: |
         docker tag venkateshkesa/tetris:latest tetrisacr.azurecr.io/tetris:latest

      - name: Push Image to ACR
        run: |
         docker push tetrisacr.azurecr.io/tetris:latest
      - 
        name: Acr list
        run: |
          echo " Displaying the Azure Container List"
          az acr repository list --name tetrisacr --output table


  aks-deploy:
    runs-on: self-hosted
    needs:  azure_acr_login   # <-- your previous ACR push job name

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4
      
    - name: Azure Login using OIDC
      uses: azure/login@v1
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Get AKS Credentials
      run: |
        az aks get-credentials \
          --resource-group Tetris-Rg \
          --name Tetris_cluster \
          --overwrite-existing

    - name: Deploy Kubernetes Manifests
      run: |
        kubectl apply -f manifestfiles/tetrisDeployment.yaml
        kubectl apply -f manifestfiles/tetrisService.yaml

    - name: Restart Deployment to Pull Latest ACR Image
      run: |
       kubectl rollout restart deployment tetris-deployment

    - name: Verify Deployment
      run: |
        kubectl get pods
        kubectl get svc

        
            
